* {
    margin: auto;
}

header {
    background-color: hsl(195, 41%, 29%);
    display: flex;
}

header h1 {
    color: white;
    font-size: 3em;
    margin-left: 35%;
}

nav {
    width: 10%;
    display: flex;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: #2C5B6A;
    transition: 1s;
}

.recipe-description {
    width: 20%;
    height: 200px;
    background: #2C5B6A;
    position: absolute;
    bottom: 55%;
    left: 30%;
}

.recipe-image {
    width: 20%;
    height: 300px;
    background: #2C5B6A;
    position: absolute;
    bottom: 50%;
    right: 25%;
}

.utensils {
    position: absolute;
    top: 60%;
    left: 10%;
}

.recipe {
    width: 40%;
    height: 700px;
    background: #2C5B6A;
    position: absolute;
    top: 70%;
    right: 25%;
}